<h2>Create a Room</h2>
<form method="POST" action="/rooms/create-room">
  <input type="text" name="name" placeholder="name" />
  <br />
  <input type="text" name="description" placeholder="description" />
  <br />
  <input type="text" name="imageUrl" placeholder="imageUrl" />
  <br />
  <button type="submit">Create Room</button>
</form>