<h2>Log In</h2>
<form method="POST" action="/users/login">
  <input type="email" name="email" placeholder="email" />
  <br />
  <input type="password" name="password" placeholder="password" />
  <br />
  <button type="submit">Log in</button>
</form>