<h2>Your profile page</h2>

<form method="get" action="/rooms/create-room">
  <button type="submit">Create a Room</button>
</form>
<form method="get" action="/users/logout">
  <button type="submit">Log Out</button>
</form>