<h2>Sign Up</h2>
<form method="POST" action="/users/signup">
  <input type="email" name="email" placeholder="email" />
  <br />
  <input type="password" name="password" placeholder="password" />
  <br />
  <input type="text" name="fullName" placeholder="full name" />
  <br />
  <button type="submit">Sign up</button>
</form>