<h2>Welcome, {{user.fullName}}</h2>
<p>You are now logged in</p>

<form method="get" action="/users/profile">
  <button type="submit">See your profile</button>
</form>

<form method="get" action="/users/logout">
  <button type="submit">Log Out</button>
</form>